*{
    box-sizing: border-box;
}

.navigation{
    width: 700px;
    height: 50px;
    bottom: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    background-image: url('./images/navigation-bar.svg');
}

#start{
    width: 45px;
    background: none;
    border: none;
}

.arrow-left{
    background-image: url('./images/arrow-left.svg');
    border: none;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-color: transparent;

}

.arrow-right{
    background-image: url('./images/arrow-right.svg');
    border: none;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-color: transparent;
    margin-left: 3px;

}

.cotrols{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 110px;
}